/*:import {*/
/*  -st-from: "../../Foundation/stylable/colors.st.css";*/
/*  -st-named: P20, Y20, G20, D55, D80, G30,R30;*/
/*}*/

.root {
  -st-states: size(enum(small, medium, large));
}

.root:size(large), .root:size(medium) {
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "textContent imageContent"
    "dividerContent dividerContent"
    "footerContent footerContent";
}

.root:size(small) {
  grid-template-columns: 50%;
  grid-template-areas:
    "textContent"
    "dividerContent"
    "footerContent";
}

.imageContentCell {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: imageContent;
}

.imageContentWrapper {
  width: 100%;
  max-width: 1020px;
  max-height: 768px;
  min-width: 240px;
  min-height: 360px;
  overflow: hidden;
}

.textContentCell {
  -st-states: size(enum(small, medium, large));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: textContent;
}

.textContentCell:size(large), .textContentCell:size(medium) {
  padding: 48px 90px 48px 90px;
}

.textContentCell:size(small) {
  padding: 30px 30px 30px 30px;
}

.textArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  max-width: 576px;
}

.actionsArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 42px;
}

.textContentCellContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.dividerContentCell {
  grid-area: dividerContent;
}

.footerContentCell {
  -st-states: size(enum(small, medium, large));
  grid-area: footerContent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footerContentCell:size(large), .footerContentCell:size(medium) {
  padding: 0px 90px 0px 90px;
}

.footerContentCell:size(small) {
  padding: 0px 30px 0px 30px;
}

.placeholder {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
