:import {
  -st-from: "../../Foundation/stylable/spacing.st.css";
  -st-named: spacing06, spacing12, spacing24, spacing30;
}

.root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  max-width: 576px;
  /*min-width: 360px;*/
}

.overLine {
  margin-bottom: value(spacing30);
}

.subtitle {
  margin-top: value(spacing12);
}

.content {
  margin-top: value(spacing24);
}

.contentItem {
  margin-bottom: value(spacing12);
}

.contentItemContainer {
  display: flex;
  align-items: flex-start;
}

.contentItemPrefixIcon {
  margin-right: value(spacing06);
}
